body{
    width: 100%;
    margin: auto;
    font-family: 'Calibri';
    color:rgb(39, 209, 115);
    text-align: center;
}
p{
color: rgb(67, 3, 218);
}

h3{
    font-family: 'Trebuchet MS';
    color: rgb(43, 149, 199);
    font-size: 30px;
}

h2{
    font-family:'Gill Sans MT';
    color: rgb(8, 8, 8);
    font-size: 30px;

}

h1{
    font-family: 'sans-serif';
    color: rgb(13, 14, 13);
    font-size: 30px;

}

main{
    background:#f1b862;
}
